<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication12">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Gestion_etudiant_prof.Editetudiant"></activity>
        <activity android:name=".Scolarité.Editcours" />
        <activity android:name=".Gestion_etudiant_prof.Addprof" />
        <activity android:name=".Gestion_etudiant_prof.Addetudiant" />
        <activity android:name=".Gestion_etudiant_prof.Listetudiant" />
        <activity android:name=".Scolarité.Listcours" />
        <activity android:name=".Scolarité.Emploit" />
        <activity android:name=".Menu.Menuscolarite" />
        <activity android:name=".Gestion_etudiant_prof.Listprof" />
        <activity android:name=".Scolarité.Addcours" />
        <activity android:name=".Gestion_etudiant_prof.Editprof" />
        <activity android:name=".Evenement.Addevent" />
        <activity android:name=".Messagerie.Addmessage" />
        <activity android:name=".Messagerie.Discussion" />
        <activity android:name=".Evenement.Editevent" />
        <activity android:name=".Evenement.Listevent" />
        <activity android:name=".Menu.Menuevent" />
        <activity android:name=".Messagerie.Listmessage" />
        <activity android:name=".Menu.Menuprof" />
        <activity android:name=".Menu.signup" />
        <activity android:name=".Menu.Login" />
        <activity android:name=".Menu.Menuetudiant" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>